<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="field"><label for="">First name</label><input type="text" name="first_name" value="<%= @contact.first_name %>"></div>
  <div class="field"><label for="">Last name</label><input type="text" name="last_name" value="<%= @contact.last_name %>"></div>
  <div class="field"><label for="">Email</label><input type="text" name="email" value="<%= @contact.email %>"></div>
  <div class="field">
    <label for="note">Notes</label>
    <textarea id="note" name="note" cols="30" rows="10" placeholder="" value="<%= @contact.note %>"><%= @contact.note %></textarea>
  </div>
  <div style="clear:both;"></div>
  <div class="field">
    <input type="submit" name="Submit" id="submit" />
  </div>
</form>