<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @page_name %> | <%= @@crm_app_name %></title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="/"><%= @@crm_app_name %></a></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contacts">View all contacts</a></li>
          <li><a href="/contacts/new">Add new contact</a></li>
        </ul>
      </nav>
    </header>


    <section class="twothirds">
      <h2><%= @page_name %></h2>
      <%= yield %>


      <!-- please complete me with links to other actions -->
    </ul>
  </section>

  <section>


    <h2>Stats</h2>
    <ul>

      <li>Number of contacts: <%= @@crm_count %></li>
    </ul>
  </section>

  <div style="clear:both"></div>
  <footer>
    &copy; <%= @@year %> Bryan MacDiarmid
  </footer>
</div>
</body>
</html>

