<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @page_name %> | <%= @@crm_app_name %></title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="/"><%= @@crm_app_name %></a></h1>
      <nav>
        <ul>
          <!--<li><a href="/">Home</a></li> -->
          <li><a href="/contacts">View all contacts</a></li>
          <li><a href="/contacts/new">Add new contact</a></li>
        </ul>
      </nav>
    </header>

    <section class="twothirds">
      <h2><%= @page_name %></h2>
      <%= yield %>
    </ul>
  </section>

  <aside>

    <div>
      <h2>Stats</h2>
      Number of contacts: <%= @@crm_count %>
    </div>

    <div>
      <h2>Support</h2>
      <p>Need help? Email <a href="mailto:brymac@gmail.com">brymac@gmail.com</a>.</p>
    </div>
  </aside>

  <div style="clear:both"></div>
  <footer>
    &copy; <%= @@year %> Bryan MacDiarmid
  </footer>
</div>
</body>
</html>

