<table>
  <tr><th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Notes</th></tr>

  <tr><td><%= @contact.id %></td><td><%= @contact.first_name %></td><td><%= @contact.last_name %></td><td><%= @contact.email %></td><td><%= @contact.notes %></td></tr>

</table>
<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Contact" value="Delete contact">
</form>

<ul>
  <li><a href="/contacts/<%= @contact.id %>/edit">Edit this contact</a></li>
  <li><a href="/contacts">Back to view all contacts</a></li>
</ul>