<table>
  <tr><th>ID</th><td><%= @contact.id %></td></tr>
  <tr><th>First Name</th><td><%= @contact.first_name %></td></tr>
  <tr><th>Last Name</th><td><%= @contact.last_name %></td></tr>
  <tr><th>Email</th><td><a href="mailto:<%= @contact.email %>"><%= @contact.email %></a></td></tr>
  <tr><th>Notes</th><td><%= @contact.notes %></td></tr>
  <tr><th>Actions</th><td>
    <a href="/contacts/<%= @contact.id %>/edit"><i class="fa fa-pencil fa-fw"></i></a>
    <a href="javascript:{}" onclick="document.getElementById('delete_form').submit(); return false;"><i class="fa fa-trash"></i></a>


  </td></tr>

</table>
<form action="/contacts/<%= @contact.id %>" method="post" id="delete_form" style="display:none">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Contact" value="Delete contact">
</form>

<footer>

<a class="prev" href="/contacts/<%= get_prev_contact_id(@contact.id) %>"><i class="fa fa-arrow-circle-left"></i> Previous record</a>
<a class="backto" href="/contacts">Back to view all contacts</a>
<a class="next" href="/contacts/<%= get_next_contact_id(@contact.id) %>"><i class="fa fa-arrow-circle-right"></i> Next record</a>
</footer>
